################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Temp/FSTimeGet-ba6e02e9a4f90af4195b5a5ae86be287
/Temp/FSTimeGet-cbaa8ee966e129545ae6d0aa737e88c7
Temp/FSTimeGet-eebbac08a165b87478687d514a2c4e50
Temp/PropertyDatabase_1265138678
Temp/PropertyDatabase_2066312223
Temp/UnityLockfile
Temp/FSTimeGet-3cf5b5fabbc86e74f9de5b8c3c33a765
Temp/FSTimeGet-607de52ab6e5af64db14368d26f2fb08
Temp/FSTimeGet-e678066910a128746a40a47611f43080
